<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <div class="top-bar-right">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">F<span>it</span>mee</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link">Home</a>
                    <a href="phyart.html" class="nav-item nav-link">Physical</a>
                    <a href="mental.html" class="nav-item nav-link">Mental</a>
                    <a href="spiritual.html" class="nav-item nav-link">spiritual</a>
                    <a href="login.html" class="nav-item nav-link">Login</a>


                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <br><br><br><br><br><br>
    <div class="container">

        <div class="alert alert-success wow zoomIn" data-wow-delay="0.1s" role="alert">
            <%  posts.forEach(function(post){ %>

                <h4 class="alert-heading" style="color: #343148;">
                    <%=post.name%>
                </h4>
                <p style="color: #302b57;">
                    <%=post.title%>:
                        <%=post.content%>
                            <a href="/posts/<%=post._id%>">...Check Replies</a>
                            <hr>
                </p>


                <% }) %>
        </div>

        <br><br><br>

        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h1>Compose</h1>
            <form class="" action="/compose" method="post">
                <div class="form-group">
                    <label style="color: #343148;">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Enter Your Name" required><br>

                    <label style="color: #343148;">Email</label>
                    <input class="form-control" type="text" name="email" placeholder="Enter Your Email" required><br>

                    <label style="color: #343148;">Title</label>
                    <input class="form-control" type="text" name="postTitle" placeholder="Enter Your Subject" required><br>
                    <label style="color: #343148;">Query</label>
                    <textarea class="form-control" name="postBody" rows="5" cols="30" placeholder="Enter Your Query" required></textarea>
                </div>
                <button class="btn btn-danger" type="submit" name="button">Publish</button>
            </form>
        </div>



    </div>


    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container copyright">
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-info" style="text-align: left;">
                            <a href="index.html" class="footer-logo footer-info">F<span>it</span>mee</a>
                        </div>

                    </div>
                    <div class="col-md-4" style="text-align: center; color: #F9E8E9;">
                        <a href="about.html" class="footer-ac">
                            <p>About Us</p>
                        </a>
                        <a href="contact.html" class="footer-ac">
                            <p>Contact Us</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <p>Copyright © 2022</p>
                        <p> All Rights Reserved By FitMEE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>